{
    "config": {
        "env" : "test"
    },
    "Discord": {
        "token" : "BOT_TOKEN"
    },
    "osu": {
        "api_key" : "osu_api_key"
    },
    "db": {
        "type": "mysql",
        "host": "localhost",
        "dbname": "db_name",
        "user": "db_user", 
        "pass": "db_pass"
    }
}