{
    "config": {
        "env" : "test"
    },
    "Discord": {
        "token" : "BOT_TOKEN"
    },
    "osu": {
        "api_key" : "osu_api_key"
    },
    "db": {
        "type": "mysql",
        "host": "localhost",
        "dbname": "db_name",
        "user": "db_user", 
        "pass": "db_pass"
    },
    "main_server": {
        "id": "server_id",
        "user" : "role_id",
        "donor" : "role_id",
        "senior" : "role_id",
        "log_channel" : "role_id",
        "joining_channel" : "role_id",
        "monitoring_channel" : "role_id",
        "monitoring_message" : "role_id",
        "main_channel" : "role_id"
    }
}